# Desafio Python e SQL

### Create

In [3]:
import pyodbc

dados_conexao = ("Driver={SQLite3 ODBC Driver};Server=localhost;Database=chinook.db")

conexao = pyodbc.connect(dados_conexao)

cursor = conexao.cursor()

In [5]:
cursor.execute("""
INSERT INTO albums (Title, ArtistId)
VALUES
('Vincy Gospel',19)
""")

cursor.commit()

cursor.close()

In [6]:
conexao.close()